/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/upload
worker.log
public/mag
public/diet-gift
/domains
azapp.zip
/vendor_old
azshanbe_new.sql
old.azshanbe_db.sql
old.azshanbe_mag.sql
old.azshanbe_new.sql
public.zip
*.sql
*.zip
/storage/*
