body  {
    direction: rtl;
    background-color: #F8F8FC;
}

* {
    font-family: Vazir;
}

.main-container {
    width: 100%;
    padding: 0;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.sub-container {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.banner {
    margin: 60px 0;
}

.float-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.float-input {
    width: 100%;
    border-radius: 5px;
    padding: 15px 12px;
}

.float-input::placeholder {
    color: #C0C1C6;
}

.float-label {
    font-size: 13px;
    padding: 0 5px;
    position: absolute;
    top: -8px;
    right: 13px;
    background-color: white;
}

.error-msg {
    font-size: 14px;
    padding: 0 13px;
    margin-top: 3px;
}

.red-text {
    color: red;
}

.grey-text {
    color: #757575;
}

.active-text {
    color: #604CFE;
}

.link {
    color: #604CFE;
}
  
.link:hover {
    color: #8071FF;
    text-decoration: none;
}

.login-btn {
    color: white;
    background-color: #604CFE;
    border-radius: 5px;
    border: 2px solid #604CFE;
    padding: 13px 0;
    font-size: 19px;
    margin-top: 30px;
}

.login-btn:hover {
    color: #604CFE;
    background-color: white;
    border: 2px solid #604CFE;
    transition: color 0.2s linear, background-color 0.2s linear;
}

input[type=checkbox]:focus
{
    outline: none;
}

input[type=checkbox]
{
    border: 2px solid #604CFE;
    background-color: white;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

input[type=checkbox]:checked
{
    border: 0;
    background-color: white;
    background: #604CFE url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}